<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">

            <button id="test" ng-click="test()">Click</button>
            <div id="store"></div>

        </div>

        <script>

            var app = angular.module('myApp', []);
            app.controller('myCtrl', ['$scope', '$compile', function($scope, $compile) {
                $scope.arr = ["a", "b", "c", "d"];
                $scope.a = "aaaa";
                $scope.test = function() {
                    angular.element($('#store')).append($compile('' +
                        '<select>' +
                        '<option ng-repeat="b in arr">{{b}}</option>' +
                        '</select>' +
                        '')($scope));
                    //alert('123');
                };
            }]);
        </script>
    </body>
</html>